<div class="footer-cont">
    <div class="footer-body">
        <div class="footer-img-cont">
            <img class="footer-img" src="/assets/logo.svg" alt="logo">
        </div>
        <div class="footer-right">
            <div class="menu">
                <div class="menu-elements">
                    <a class="sectionbtn" [routerLink]="['/']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Home</a>
                </div>
                <div class="menu-elements">
                    <a class="sectionbtn"  routerLink = "/staff" routerLinkActive="active">Staff</a>
                </div>
                <div class="menu-elements">
                    <a class="sectionbtn" routerLink = "/our-office" routerLinkActive="active">Our Office</a>
                </div>
                <div class="menu-elements">
                    <a class="sectionbtn" routerLink = "/services" routerLinkActive="active">Services</a>
                </div>
                <div class="menu-elements">
                    <a class="sectionbtn" routerLink = "/contact-us" routerLinkActive="active">Contact Us</a>
                </div>
                <div class="menu-elements">
                    <a class="sectionbtn" routerLink = "/patient-privacy" routerLinkActive="active">Patient Privacy</a>
                </div>
                <div class="menu-elements">
                    <a class="sectionbtn" routerLink = "/disclaimer" routerLinkActive="active">Disclaimer</a>
                </div>
            </div>
            <div class="footer-info">
                <div class="info-left">
                    Phone: <a class="footer-phone" href="tel:(623)-878-4460">(623)-878-4460</a> 
                </div>
                <div class="info-right">
                    Address: 8110 West Union Hills Drive Suite 430 Glendale, AZ
                </div>
            </div>
        </div>
    </div>
</div>
