<div class="solutions">
    <div class="solutions-behind">
        <app-hp-solution [name] = "names[0]" [link] = "links[0]"></app-hp-solution>
        <app-hp-solution [name] = "names[1]" [link] = "links[1]"></app-hp-solution>
        <app-hp-solution [name] = "names[2]" [link] = "links[2]"></app-hp-solution>
        <app-hp-solution [name] = "names[3]" [link] = "links[3]"></app-hp-solution>
        <app-hp-solution [name] = "names[4]" [link] = "links[4]"></app-hp-solution>
    </div>
    
</div>
