<div class="serv-box" [ngStyle]="getBox()" (click)="toggleDesc()">
    <div class="serv-name">
        {{name}}
    </div>
    <div class="serv-learn" [ngStyle]="getLearn()">
        Click to learn more
    </div>
    <div class="serv-more" [ngStyle]="getInfo()">
        <div *ngFor="let i of info" class="serv-info">
            <div>
                <b>{{i.title}}</b>
            </div>
            <div>
                {{i.desc}}
                <br>
            </div>
        </div>
    </div>
</div>
