body{
    margin: 0;
    padding: 0;
    height: fit-content;
    width: 100vw;
    font-family: Arial;
    font-size: 0px;
}

.top {
    display: block;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 40px;
    background-color: #343434;
    z-index: 1;
}

.behind-top{
    display: block;
    position: relative;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 40px;
    background-color: #ffffff;
}


.menu {
    display: inline-block;
    vertical-align: top;
    width: 75%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

.sections-ul{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
	list-style: none;
}

.sections-list{
    font-size: 20px;
    display: block;
    min-width: 50px;
    width: calc(100vw/6);
    height: 100%;
    margin: 0;
    padding: 0;
}

.list-elements{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.sectionbtn{
    position: relative;
    background-color: transparent;
    text-decoration: none;
    font-size: calc(30px);
    border: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #0fb0c5;
    transition-duration: 0.3s;
}

.sectionbtn:hover{
    background-color: #f1f1f1;
}

.under-contruction{
    display: block;
    position: relative;
    top: 10vh;
    width: 100vw;
    height: 3.5vh;
    min-height: 12px;
    font-size: calc(5px + 1vw);
    background-color: rgb(207, 204, 204);
    color: black;
    text-align: center;
}

.footer{
    height: 60px;
}

