<div>
    Union Hills Family Dentistry offers a full array 
    of cosmetic dentistry services to help you create
     a satisfying smile. You can read more on this page
      about specific services.
</div>
<div>Initial Examination</div>
<app-service [name] = "service[0].name" [description] = "service[0].description"></app-service>
<app-service [name] = "service[1].name" [description] = "service[1].description"></app-service>
<app-service [name] = "service[2].name" [description] = "service[2].description"></app-service>
<app-service [name] = "service[3].name" [description] = "service[3].description"></app-service>
<app-service [name] = "service[4].name" [description] = "service[4].description"></app-service>
