<div class="service-parent">
    <div class="service-body">
        <div class="service-intro">
            Union Hills Family Dentistry offers a full array 
            of cosmetic dentistry services to help you create
            a satisfying smile. You can read more on this page
            about specific services.
        </div>
        <div class="init-title">Initial Examination</div>
        <div class="init-desc">
            Your initial oral examination includes a visual examination, 
            charting, periodontal probing, diagnosis and treatment recommendations. 
            We will also take x-rays, which includes the panoramic x-ray for proper 
            diagnosis of the anterior (front) and posterior (back) teeth as well as the 
            bite-wing x-ray series for proper diagnosis of proximal decay of posterior teeth.
        </div>    
        <div class="services">
            <app-service *ngFor="let serv of service" [name] = "serv.name" [info] = "serv.info"></app-service>
                
        </div>       
    </div>
    
</div>
