<div>
    Union Hills Family Dentistry offers a full array 
    of cosmetic dentistry services to help you create
     a satisfying smile. You can read more on this page
      about specific services.
</div>
<div>
    <ul>
        <li>Bonding></li>
        <li>Cosmetic Contouring</li>
        <li>Crowns and Bridges</li>
        <li>Specialty Dentures</li>
        <li>Cosmetic Fillings</li>
        <li>Grafts</li>
        <li>Implants</li>
        <li>Veneers</li>
        <li>Whitening</li>
        <li>Laser Gum Therapy</li>
        <li>Sealants</li>
        <li>Braces</li>
        <li>Root Canal Therapy</li>
        <li>Extractions</li>
        <li>Excessive or Uneven Gums</li>
        <li>Scaling and Root Planing</li>
        <li>Dentures</li>
        <li>Cosmetic Dentistry</li>
        <li>Jaw/TMJ</li>
        <li>SureSmile</li>
        <li>Glo Professional Whitening</li>
    </ul>
</div>
<div>Initial Examination</div>
<div>
    Your initial oral examination includes a visual examination, 
    charting, periodontal probing, diagnosis and treatment recommendations. 
    We will also take x-rays, which includes the panoramic x-ray for proper 
    diagnosis of the anterior (front) and posterior (back) teeth as well as the 
    bite-wing x-ray series for proper diagnosis of proximal decay of posterior teeth.
</div>
