<div>
    <div>
        Address
    </div>
    <div>
         8110 West Union Hills Drive
        Suite 430
        Glendale, AZ 85308
    </div>
</div>
<div>
    <div>
        Phone Number
    </div>
    <div>
        (623)-878-4460
    </div>
</div>
<div>
    <div>
        Office Hours
    </div>
    <div>
        <div>
            Monday:
        </div>
        <div>
            9:00 AM - 6:00 PM
        </div>
        <div>
            Tuesday:
        </div>
        <div>
            9:00 AM - 6:00 PM
        </div>
        <div>
            Wednesday:
        </div>
        <div>
            8:00 AM - 5:00 PM
        </div>
        <div>
            Thursday:
        </div>
        <div>
            8:00 AM - 5:00 PM
        </div>
        <div>
            Friday:
        </div>
        <div>
            Closed
        </div>
        <div>
            Saturday:
        </div>
        <div>
            By Appointment
        </div>
        <div>
            Sunday:
        </div>
        <div>
            Closed
        </div>
    </div>
</div>
<div>
    <div>
        Appointments
    </div>
    <div>
        If you cannot keep a scheduled appointment, or will be delayed, please call us as soon as possible.
    </div>
</div>
<div>
    <div>
        Insurance and Billing
    </div>
    <div>
        We accept most traditional insurance plans, contact our office to verify
        acceptance of your plan. Union Hills Family Dentistry does not participate
        in Health Management Organizations; however, we will be happy to file your 
        insurance claims for you. We accept checks, cash or credit cards. We also
        offer a flexible payment plan. Please see our Financial Coordinator for details. 
        We are happy to file insurance for your reimbursement as long as you are free to 
        choose your own dentist.
    </div>
</div>
<div>
    <div>
        Accepted Insurance Carriers
    </div>
    <div>
        <ul>
            <li>
                Delta
            </li>
            <li>
                Aetna
            </li>
            <li>
                Cigna
            </li>
            <li>
                MetLife
            </li>
            <li>
               United Concordia 
            </li>
            <li>
                and many other PPO plans 
            </li>
        </ul>
    </div>
</div>
<div>
    <div>
        Payment Options
    </div>
    <div>
        We accept CareCredit, Visa, MasterCard, American Express, 
        and Personal Checks. Please see our Financial Coordinator for 
        details. We are happy to file insurance for your reimbursement 
        as long as you are free to choose your own dentist.
    </div>
</div>
<div>
    <div>
        Financing Options
    </div>
    <div>
        CareCredit is here to help you pay for treatments and procedures your insurance doesn’t cover. We offer No Interest financing 
        or low minimum monthly payment options so you can get what you want, when you want it. You can even use CareCredit for your family and favorite pet.
        With three simple steps, including an instant approval process, it’s easy to apply for CareCredit. After you’re approved, you’re free to use C
        areCredit for the services you choose including LASIK, veterinary, dentistry, cosmetic, hearing aids and more.
        CareCredit is endorsed by some of the most credible organizations specific to each healthcare profession we support. And CareCredit is a GE
         Money Company, so you know you can count on us. For over 20 years, we’ve been helping over five million cardholders get the healthcare treatments they want and need.
        Now you don’t have to worry about saving up for the procedures you want and need. With CareCredit, the decision’s in your hands to get what 
        you want, when you want it. For more information or to apply online, visit carecredit.com
    </div>
</div>