
.top {
    display: block;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100vw;
    max-width: 1800px;
    height: 240px;
    background-color: #74E7DA;
    z-index: 2;
    box-shadow: 2px 2px 5px #74E7DA;
}


.header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100vw;
    max-width: 1800px;
    height: 200px;
    background-color: #D4F2F4;
}

.top-link{
    color: #04445F;
}
.top-link:hover{
    color: #189AB4;
}

.top-img{
    display: block;
    height: max(100px, 10vw);
    margin: 10px 0 10px 20px;
}

@media only screen and (max-width: 800px) {
    #award {
        display: none;
    }
    #top-header{
        justify-content: center;
    }
}

.top-awards{
    display: flex;
    align-items: center;
    height: 180px;
    margin: 10px 30px 10px 0;  
    width: 15vw;
    min-width: 180px;
    max-width: 240px;
}
.top-award{
    display: inline;
    width: calc(20vw/3);
    min-width: 60px;
    max-width: 80px;
}

.behind-top{
    display: block;
    position: relative;
    width: 100vw;
    max-width: 1800px;
    height: 240px;
    background-color: #D4F2F4;
}


.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    max-width: 1800px;
    height: 40px;
    padding: 0;
    margin: 0;
    background-color: transparent;
}


.menu-elements{
    display: flex;
    padding: 0;
    margin: 0;
    height: 100%;
    width: calc(100%/5);
    justify-content: center;
    text-align: center;
    align-items: center;
}

.sectionbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    font-size: max(12px, calc(8px + 1vw));
    border: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #04445F;
    transition-duration: 0.3s;
}

.sectionbtn:hover{
    background-color: #ffffff;
}

.active{
    background-color: #ffffff;
}

