<div class="behind-top"></div>
<div class="top">
    <div class="header" id="top-header">
        <img class="top-img" src="/assets/logo.svg" alt="logo">
        <div class="top-awards" id="award">
            <img class="top-award" src="/assets/2015Top.png" alt="Top Dentist 2015">
            <img class="top-award" src="/assets/2016Top.png" alt="Top Dentist 2016">
            <img class="top-award" src="/assets/2017Top.png" alt="Top Dentist 2017">
        </div>
    </div>
    <div class="menu">
        <div class="menu-elements">
            <a class="sectionbtn" [routerLink]="['/']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </div>
        <div class="menu-elements">
            <a class="sectionbtn"  routerLink = "/staff" routerLinkActive="active">Staff</a>
        </div>
        <div class="menu-elements">
            <a class="sectionbtn" routerLink = "/our-office" routerLinkActive="active">Our Office</a>
        </div>
        <div class="menu-elements">
            <a class="sectionbtn" routerLink = "/services" routerLinkActive="active">Services</a>
        </div>
        <div class="menu-elements">
            <a class="sectionbtn" routerLink = "/contact-us" routerLinkActive="active">Contact Us</a>
        </div>
    </div>
  </div>