<div class="top">
    <div class="menu">
        <ul class="sections-ul">
          <li class="sections-list">
            <div class="list-elements">
              <a class="sectionbtn" routerLink = "/">Home</a>
            </div>
          </li>
          <li class="sections-list">
            <div class="list-elements">
              <a class="sectionbtn"  routerLink = "/staff">Staff</a>
            </div>
          </li>
          <li class="sections-list">
            <div class="list-elements">
              <a class="sectionbtn" routerLink = "/patients">Patients</a>
            </div>
          </li>
          <li class="sections-list">
            <div class="list-elements">
              <a class="sectionbtn" routerLink = "/our-office">Our Office</a>
            </div>
          </li>
          <li class="sections-list">
            <div class="list-elements">
              <a class="sectionbtn" routerLink = "/services">Services</a>
            </div>
          </li>
          <li class="sections-list">
            <div class="list-elements">
              <a class="sectionbtn" routerLink = "/contact-us">Contact-Us</a>
            </div>
          </li>
          <li class="sections-list">
            <div class="list-elements">
              <a class="sectionbtn" routerLink = "/schedule">Schedule</a>
            </div>
          </li>
        </ul>
    </div>
  </div>