<div class="dentist-body">
    <div class="dentist-text">
        <div class="dentist-name">DR. ETHAN J. YOZA DDS, FAGD</div>
        <div class="dentist-description">
            Dr. Ethan J. Yoza DDS, FAGD was born and raised in Honolulu, Hawaii. 
            He has been happily married to his wife, Kymberly, also from Hawaii, 
            for 19 years. Their two children, Alex and Lexi, keep the whole family 
            busy with sports.
        </div>
        <div class="dentist-description">
            After serving five years in the United States Air Force, 
            Dr. Yoza decided to build his dental office and make Arizona his new home. 
            Dr. Yoza is honored to be able to provide high quality, gentle, and 
            compassionate dentistry to his patients. He treats every patient like 
            they are a part of his family. Dr. Yoza will provide you with 
            The Dental Care You’ve Been Looking For.
        </div>
        <div class="subcat-title">EDUCATION AND FORMAL TRAINING:</div>
        <div class="subcat-desc">
            <ul>
                <li>
                    Post Doctorate Education:
                    Advanced Education in General Dentistry – Scott Air Force Base, Illinois (2001)
                </li>
                <li>
                    Professional Education:
                    D.D.S. – University of Missouri at Kansas City-School of Dentistry (2000)
                </li>
                <li>
                    Undergraduate Education:
                    Zoology – University of Hawaii at Manoa (1996)
                </li>
            </ul>
        </div>
        <div class="subcat-title">AWARDS:</div>
        <div class="subcat-desc">
            <ul>
                <li>
                    Fellow of the Academy of General Dentistry (FAGD) (2005)
                    374th Dental Squadron Officer of the Year
                    United States Air Force Health Professions Scholarship
                </li>
                <li>
                    UMKC Dental summer scholar
                </li>
            </ul>
        </div>
        <div class="subcat-title">LICENSURE AND CERTIFICATION:</div>
        <div class="subcat-desc">
            <ul>
                <li>
                    Licensing Board:
                    Western Regional Examining Board (2000)
                </li>
                <li>
                    State Licensure:
                    Arizona (2000)
                </li>
            </ul>
        </div>
        <div class="subcat-title">PROFESSIONAL AFFILIATIONS:</div>
            <div class="subcat-desc">
                <ul>
                    <li>
                        Academy of General Dentistry
                    </li>
                    <li>
                        American Dental Association
                    </li>
                    <li>
                        Arizona Dental Association
                    </li>
                    <li>
                        Central Arizona Dental Society
                    </li>
                </ul>
            </div>
         </div>
    <div class="dentist-img-cont">
        <img class="dentist-img" src="/assets/python.png" alt="Dentist">
    </div>
</div>

