<div>OUR STAFFF</div>
<app-dentist></app-dentist>
<app-member [name] = "members[0].name" [description] = "members[0].description"></app-member>
<app-member [name] = "members[1].name" [description] = "members[1].description"></app-member>
<app-member [name] = "members[2].name" [description] = "members[2].description"></app-member>
<app-member [name] = "members[3].name" [description] = "members[3].description"></app-member>
<app-member [name] = "members[4].name" [description] = "members[4].description"></app-member>