.staff-body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 1800px;
    height: fit-content;
    max-width: 1800px;
}

.staff-cont{
    margin: 50px;
    width: 80vw;
    max-width: calc(1800px * 0.8);
    color: #04445F;
    text-align: left;
}

.staff-team{
    font-size: 36px;
    margin-bottom: 50px;
    color: #04445F;
}

.team-cont{
    width: 60vw;
    max-width: calc(0.6 * 1800px);
    margin-bottom: 20px;
}

.team-img{
    width: 100%;
}