<div class="staff-body">
    <div class="staff-cont">
        <app-dentist></app-dentist>
        <div class="team-cont">
            <img class="team-img" src="/assets/team.jpeg" alt="Our team">
        </div>
        <div class="staff-team">Our Team</div>
        <app-member [name] = "members[0].name" [description] = "members[0].description" [image] = "members[0].image"></app-member>
        <app-member [name] = "members[1].name" [description] = "members[1].description" [image] = "members[1].image"></app-member>
        <app-member [name] = "members[2].name" [description] = "members[2].description" [image] = "members[2].image"></app-member>
        <app-member [name] = "members[3].name" [description] = "members[3].description" [image] = "members[3].image"></app-member>
        <app-member [name] = "members[4].name" [description] = "members[4].description" [image] = "members[4].image"></app-member>
    </div>
    
</div>
