<div class="home-top">
    <img class="home-image" src="/assets/ethanyoza.jpeg" alt="">
</div>
<app-hp-solutions></app-hp-solutions>
<div class="home-text">
    <div class="home-cont">
        <div class="home-welcome">
            Welcome! <br>
            Union Hills Family Dentistry has been working with patients 
            to provide the best cosmetic dentistry care for patients in the 
            Glendale, AZ area. Dr. Yoza’s experience in cosmetic dentistry is coupled 
            with genuine concern for his patients. All of our staff is dedicated to your 
            comfort and prompt attention.  We also work closely with the 
            top dental specialists in the valley.  
            Our goal is to change your life by giving you the smile and function you deserve.
        </div>
        <div class="home-subwelcome">
            This web site provides you with an overview of our practice and the field of cosmetic dentistry. 
            As you navigate the site, you’ll find information about Union Hills Family Dentistry’s practice philosophy, 
            our Glendale dental office location, insurance policies, appointment scheduling procedures, and a vast amount 
            of dental education. Please browse the site at your convenience and feel free to contact us with any questions. 
            You’ll find a lot of valuable information on the web site about cosmetic dentistry alternatives and Glo teeth whitening. 
            We believe informed patients are better prepared to make decisions about their health and well being. We encourage you to review
            this information to help you understand any health concerns you may face.
        </div>   
    </div>
    
</div>
