<div class="disclaimer-body">
    <div class="disclaimer-cont">
        <div class="disclaimer-title">
            Disclaimer
        </div>
        <div class="disclaimer-text">
            Disclaimer of Ethan Yoza and OFFICITE, LLC <br>
            Ethan Yoza and OFFICITE, LLC expressly disclaims all warranties and 
            responsibilities of any kind, whether express or implied, for the accuracy 
            or reliability of the content of any information contained in this Web Site, 
            and for the suitability, results, effectiveness or fitness for any particular purpose
            of the services, procedures, advice or treatments referred to herein, such content and suitability,
            etc., being the sole responsibility of parties other than Ethan Yoza and OFFICITE, LLC, and the reliance 
            upon or use of same by you is at your own independent discretion and risk.
        </div>   
    </div>
</div>
